.leaderBoardPosition1{
    font-weight: bold;
    background-color: #ffc107;
}

.leaderBoardPosition2{
    font-weight: bold;
    background-color: #ffc107;
}

.leaderBoardPosition3{
    font-weight: bold;
    background-color: #ffc107;
}